<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <title>Email OSINT</title>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">OSINT Tool</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/username">Username Lookup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/email">Email Lookup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/phone">Phone Lookup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/website">Website Lookup</a>
                </li>
            </ul>
          </div>
        </div>
    </nav>
    <h1 style="margin: 30px;">Email Lookup</h1>
    <hr>
    {% if email %}
    <div class="container bg-light" style="margin-top:50px;height: 600px;width: 1000px;">
      <h3>{{email}} used on these websites</h3>
      <table class="table table-striped">
        {%for email in emailusedin:%}
          <tr>
            <th width="10px">{{loop.index0 + 1}}</th>
            <td>{{email}}</td>
          </tr>
        {%endfor%}
      </table><br>
      {% if blen != 0 %}
      <h3>Email compromised in following data breaches(data leaks)</h3>
      <table class="table table-striped">
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Breach Date</th>
            <th>Breach Contains</th>
          </tr>
          {%for breach in breaches:%}
            <tr>
              <td>{{loop.index0+1}}</td>
              <td>{{breach['Domain']}}</td>
              <td>{{breach['BreachDate']}}</td>
              <td>{{', '.join(breach['DataClasses'])}}</td>
            </tr>
          {%endfor%}
      </table><br>
      {% endif %}
      {% if glen != 0%}
      <h3>Google Info</h3>
      <table class="table table-striped">
          <tr>
            <th width="10px">Name</th>
            <td>{{name}}</td>
          </tr>
          <tr>
            <th width="10px">Photo</th>
            <td><img src="{{photo}}" width="300px" height="300px" alt="{{photo}}"></td>
          </tr>
          <tr>
            <th width="120px">Map Reviews</th>
            <td><a href="{{review}}" target='_blank'>{{review}}</a></td>
          </tr>
      </table><br><br><br><br><br><br><br>
      </div>
      {%endif%}
    {% else %}
      <div class="container w-100 bg-light" style="margin-top:50px;height:200px;padding-left: 290px;" id="maininput">
        <div class="row">
          <div class="col-sm">
            <input class="form-control w-100" type="text" placeholder="Enter Email Id" id="email">
          </div>
          <div class="col-sm">
            <button class='btn btn-outline-primary' style='width: 100px;' onclick="goEmail()"><i class="fa fa-search"></i></button>
          </div>
        </div> 
      </div>
      
    {% endif %}

    <div id="loader" style="display: none;"></div>
    <div style="height: 200px;width: 200px;"></div>
    <!-- <div class="footerx bg-secondary">
      <p style="margin-top: 5px;font-size: 20px;">Made with ❤️ by R4JVE3R</p>
    </div> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="/static/main.js"></script>
</body>
</html>